@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* Reset CSS */

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.button {
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover {
  background-color: white;
  color: #2b292d;
}

.button_white {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px;
  color: white;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button_white:hover {
  background-color: white;
  color: #2b292d;
}

.button_black {
  border: 1px solid #2b292d;
  background-color: transparent;
  padding: 10px;
  color: #2b292d;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button_black:hover {
  background-color: #2b292d;
  color: white;
}

.styleNone {
  display: none;
}

/* Header */

.header {
  background-color: lightpink;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav {
  padding: 0 40px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menuBox_close {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  background-color: white;
  z-index: 9999;
  overflow: hidden;
  transition: all 0.5s;
}

.menuBox_close li {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  cursor: pointer;
  transition: all 0.6s;
}

.menuBox_open {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: white;
  z-index: 9999;
  opacity: 0.9;
  transition: all 0.5s;
}

.menuBox_open li {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  transition: all 0.6s;
}

.header .menuBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  cursor: pointer;
  z-index: 9999;
}

.header .menuBox span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #2b292d;
  margin-bottom: 4px;
  transition: all ease-in-out 0.3s;
}

.header .menuBox span:nth-child(2) {
  position: relative;
}

.header .menuBox span:nth-child(3) {
  position: absolute;
  margin-bottom: 0;
}

.header .menuBox span:nth-child(4) {
  margin-bottom: 0;
}

.header .menuBox_X span:nth-child(1) {
  opacity: 0;
}

.header .menuBox_X span:nth-child(2) {
  transform: rotate(45deg);
}

.header .menuBox_X span:nth-child(3) {
  transform: rotate(-45deg);
}

.header .menuBox_X span:nth-child(4) {
  opacity: 0;
}

.header .shopMenu {
  display: none;
}

.header .logoBox img {
  width: 130px;
  height: auto;
}

.header .sideMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  font-size: 16px;
}

.header .sideMenu li.login {
  display: none;
}

.header .sideMenu li:nth-child(2) {
  font-size: 17px;
  margin-right: 15px;
}

.header .sideMenu li:last-child {
  font-size: 15px;
}

/* carousel */

.carousel {
  width: 100%;
  height: auto;
}

/* Footer */

.Footer_section {
  width: 100%;
  background-color: rgb(88, 83, 83);
}

.Footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Footer div:first-child {
  font-size: 30px;
  font-family: "Cafe24Shiningstar";
  color: white;
  opacity: 0.8;
}

.Footer ul {
  display: flex;
}

.Footer ul li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer ul li:first-child {
  margin-right: 10px;
}

.Footer ul li:first-child .toLink {
  font-size: 25px;
}

.Footer ul li:last-child .toLink {
  font-size: 20px;
}

.Footer ul li .toLink {
  background-color: transparent;
  border: none;
  opacity: 0.7;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.Footer ul li .toLink:hover {
  opacity: 1;
}

.Footer div:last-child {
  font-size: 20px;
  color: white;
  opacity: 0.7;
}

.Footer div:last-child p {
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

/* Home - goShop */

.goShop_section {
  padding: 20px 10px;
}

.goShop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goShop .gs_textBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goShop .gs_imgbox {
  width: 50%;
}

.goShop .gs_textBox h5 {
  font-size: 15px;
  margin-bottom: 5px;
}

.goShop .gs_textBox p {
  font-size: 13px;
  margin-bottom: 10px;
}

.goShop .gsItem1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(114, 162, 207);
  margin-bottom: 10px;
}

.goShop .gsItem1 .gs_textBox {
  align-items: flex-start;
  color: white;
}

.goShop .gsItem1 .gs_textBox p {
  color: white;
}

.goShop .gsItem1 img {
  width: 50px;
  height: auto;
}

.goShop .gsItem2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(226, 236, 198);
}

.goShop .gsItem2 .gs_textBox {
  align-items: flex-end;
}

.goShop .gsItem2 img {
  width: 120px;
  height: auto;
}

/* Home - newItem */

.newItem_section {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.newItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newItem h4 {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.newItem .newItemList {
  margin-bottom: 35px;
}

.newItem .newItemList .ni_imgBox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.newItem .newItemList .ni_imgBox {
  margin-bottom: 5px;
}

.newItem .newItemList li {
  margin-bottom: 15px;
  cursor: pointer;
}

.newItem .newItemList:last-child {
  margin-bottom: 0;
}

.newItem .newItemList li h5 {
  font-size: 16px;
  margin-bottom: 3px;
}

.newItem .newItemList li p {
  font-size: 15px;
}

/* shop */

.shop_section {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop_section .shop_buttonBox {
  width: 90%;
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shop_section .shop_buttonBox .button_black {
  font-size: 14px;
}

.shop_section .shop_itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop_section .shop_itemList li {
  margin-bottom: 30px;
  cursor: pointer;
}

.shop_section .shop_itemList li:last-child {
  margin-bottom: 40px;
}

.shop_section .shop_imgBox {
  width: 350px;
  height: 400px;
  margin-bottom: 15px;
}

.shop_section .shop_imgBox img {
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.shop_section .shop_itemList li h5 {
  font-size: 20px;
  margin-bottom: 5px;
}

.shop_section .shop_itemList li p {
  font-size: 19px;
}

/* shop - pageNumber */

.pageNumber_section {
  width: 100%;
}

.pageNumber {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pageNumber ul {
  display: flex;
}

.pageNumber ul li {
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

.pageNumber ul li.selected {
  background-color: #2b292d;
  color: white;
}

/* detail */

.detail_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail .d_imgBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.detail .d_imgBox img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.detail .d_info_box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.detail .d_info_box div:first-child {
  margin-bottom: 30px;
}

.detail .d_info_box div:first-child h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.detail .d_info_box div:first-child > p {
  font-size: 17px;
  margin-bottom: 15px;
}

.detail .d_info_box div:first-child .d_count_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.detail .d_info_box div:first-child .d_count_box p {
  font-size: 15px;
  margin-right: 50px;
}

.detail .d_info_box div:first-child .d_count_box button {
  width: 23px;
  height: 23px;
  background-color: #fdfdfd;
  border: 1px solid #2b292d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.detail .d_info_box div:first-child .d_count_box button:hover {
  background-color: #c9c9c9;
}

.detail .d_info_box div:first-child .d_count_box button.minus {
  margin-right: 15px;
}

.detail .d_info_box div:first-child .d_count_box button.plus {
  margin-left: 15px;
}

.detail .d_info_box div:first-child .d_totalPrice {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detail .d_info_box div:first-child .d_totalPrice p {
  font-size: 15px;
  font-weight: 700;
  margin-right: 15px;
}

.detail .d_info_box div:first-child .d_totalPrice p .total_count {
  font-weight: 500;
  color: #5f5f5f;
}

.detail .d_info_box div:first-child .d_totalPrice strong {
  font-size: 17px;
}

.detail .d_info_box div:first-child .d_totalPrice > span {
  font-size: 15px;
  color: #5f5f5f;
}

.detail .d_info_box .d_button_box button:first-child {
  margin-right: 10px;
}

.detail .d_info_box .d_button_box .d_button {
  width: 100px;
  height: 45px;
  font-size: 13px;
}

/* Modal */

.detail .d_info_box .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 45vh;
  left: 20vw;
  z-index: 9999;
}

.detail .d_info_box .modal .modal_content {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .d_info_box .modal .modal_content p {
  font-size: 14px;
}

.detail .d_info_box .modal .modal_buttons button:first-child {
  margin-right: 10px;
}

/* Cart */

.cart_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 230, 238);
}

.cart_container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 90%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.cart > h3 {
  width: 80%;
  padding: 15px 0px 10px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6c6a6e;
}

.cart .cartList {
  width: 80%;
  padding-bottom: 20px;
}

.cart .cartList li {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6c6a6e;
}

.cart .cartList li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.cart .cartList li .cartList_imgBox {
  display: none;
}

.cart .cartList li .cartList_infoBox h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart .cartList li .cartList_infoBox p {
  margin-bottom: 15px;
}

.cart .cartList li .cartList_infoBox .cart_mp_button_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.cart .cartList li .cartList_infoBox .cart_mp_button_box > span {
  font-size: 13px;
  margin-right: 15px;
}

.cart .cartList li .cartList_infoBox .cart_mp_button_box .cart_countB_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart
  .cartList
  li
  .cartList_infoBox
  .cart_mp_button_box
  .cart_countB_box
  .cart_button {
  width: 25px;
  height: 25px;
  border-radius: 0;
  border: 1px solid #2b292d;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.cart
  .cartList
  li
  .cartList_infoBox
  .cart_mp_button_box
  .cart_countB_box
  .cart_button:hover {
  background-color: #c9c9c9;
}

.cart
  .cartList
  li
  .cartList_infoBox
  .cart_mp_button_box
  .cart_countB_box
  .cart_button:first-child {
  margin-right: 10px;
}

.cart
  .cartList
  li
  .cartList_infoBox
  .cart_mp_button_box
  .cart_countB_box
  .cart_button:last-child {
  margin-left: 10px;
}

.cart_result_box {
  width: 90%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.cart_result_box .cart_result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart_result_box .cart_result .cart_resultList {
  margin-bottom: 20px;
}

.cart_result_box .cart_result .cart_resultList li {
  margin-bottom: 15px;
}

.cart_result_box .cart_result .cart_resultList li div > h5 {
  margin-bottom: 5px;
}

.cart_result_box .cart_result .cart_resultList li div > span {
  font-size: 14px;
}

.cart_result_box .cart_result .cart_result_totalB {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart_result_box .cart_result .cart_result_totalB .cart_result_total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart_result_box .cart_result .cart_result_totalB .cart_buy_button_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_result_box
  .cart_result
  .cart_result_totalB
  .cart_buy_button_box
  > .button {
  width: 90%;
  font-size: 13px;
}

/* >=768px (Desktop) */
@media screen and (min-width: 768px) {
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  .button {
    padding: 15px;
    font-size: 15px;
  }

  .button_white {
    padding: 15px;
    font-size: 15px;
  }

  .button_black {
    padding: 15px;
    font-size: 15px;
  }

  /* Header */
  .menuBox_open,
  .menuBox_close {
    display: none;
  }

  .header {
    height: 70px;
  }

  .header .nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .header .menuBox {
    display: none;
  }

  .header .shopMenu {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
  }

  .header .shopMenu li {
    cursor: pointer;
  }

  .header .logoBox img {
    width: 200px;
    height: auto;
  }

  .header .sideMenu {
    width: 100px;
    font-size: 20px;
  }

  .header .sideMenu_login {
    width: 250px;
  }

  .header .sideMenu li {
    cursor: pointer;
  }

  .header .sideMenu li:nth-child(2) {
    font-size: 23px;
    margin-right: 30px;
  }

  .header .sideMenu li:last-child {
    font-size: 20px;
  }

  .header .sideMenu li.login {
    display: block;
    font-size: 17px;
    margin-right: 30px;
  }

  /* Footer */

  .Footer_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer {
    width: 70%;
    flex-direction: row;
  }

  /* Home - goShop */

  .goShop_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .goShop {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .goShop .gs_textBox {
    width: 250px;
  }

  .goShop .gs_textBox h5 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .goShop .gs_textBox p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .goShop .gsItem1 {
    width: 50%;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .goShop .gsItem1 img {
    width: 65px;
    height: auto;
  }

  .goShop .gsItem2 {
    width: 50%;
    height: 200px;
  }

  .goShop .gsItem2 img {
    width: 170px;
    height: auto;
  }

  /* Home - newItem */

  .newItem_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
  }

  .newItem_section .newItem {
    width: 70%;
  }

  .newItem h4 {
    font-size: 25px;
    margin-bottom: 50px;
    padding: 15px 0;
  }

  .newItem .newItemList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .newItem .newItemList li {
    margin-bottom: 0;
  }

  .newItem .newItemList li h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .newItem .newItemList li p {
    font-size: 18px;
  }

  .newItem .newItemList .ni_imgBox {
    margin-bottom: 15px;
  }

  .newItem .newItemList .ni_imgBox img {
    width: 350px;
    height: 400px;
  }

  /* shop */

  .shop_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .shop_section .shop_buttonBox {
    width: 60%;
    margin-bottom: 30px;
  }

  .shop_section .shop_itemList {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .shop_section .shop_itemList li {
    padding: 15px;
  }

  /* shop - pagination */

  .pageNumber {
    margin-bottom: 70px;
  }

  /* detail */

  .detail_section {
    width: 100%;
  }

  .detail {
    width: 70%;
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 100px;
    padding: 20px 50px;
  }

  .detail .d_imgBox {
    width: 500px;
    height: 500px;
    margin-right: 50px;
  }

  .detail .d_imgBox img {
    width: 500px;
    height: 550px;
  }

  .detail .d_info_box {
    width: 500px;
    height: 500px;
  }

  .detail .d_info_box div:first-child {
    width: 100%;
  }

  .detail .d_info_box div:first-child h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .detail .d_info_box div:first-child > p {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .detail .d_info_box div:first-child .d_count_box {
    margin-bottom: 90px;
  }

  .detail .d_info_box div:first-child .d_count_box p {
    font-size: 17px;
  }

  .detail .d_info_box div:first-child .d_totalPrice {
    width: 450px;
    margin-bottom: 20px;
  }

  .detail .d_info_box div:first-child .d_totalPrice > p {
    font-size: 16px;
  }

  .detail .d_info_box div:first-child .d_totalPrice strong {
    font-size: 20px;
  }

  .detail .d_info_box div:first-child .d_totalPrice span {
    font-size: 17px;
  }

  .detail .d_info_box .d_button_box button:first-child {
    margin-right: 20px;
  }

  .detail .d_info_box .d_button_box .d_button {
    width: 150px;
    height: 60px;
    font-size: 15px;
  }

  /* Modal */

  .detail .d_info_box .modal {
    width: 350px;
    height: 150px;
    left: 40vw;
  }

  .detail .d_info_box .modal .modal_content {
    width: 100%;
  }

  .detail .d_info_box .modal .modal_content p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  /* cart */

  .cart_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 230, 238);
  }

  .cart_container {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
  }

  .cart {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .cart > h3 {
    font-size: 25px;
    padding: 25px 0px 20px 10px;
    margin-bottom: 20px;
  }

  .cart .cartList {
    margin-bottom: 20px;
  }

  .cart .cartList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .cart .cartList li .cartList_imgBox {
    display: block;
  }

  .cart .cartList li .cartList_imgBox img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .cart .cartList li .cartList_infoBox {
    width: 50%;
  }

  .cart .cartList li .cartList_infoBox > h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .cart .cartList li .cartList_infoBox > p {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .cart_result_box {
    width: 30%;
  }
}
